<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Channels</h1>
  </div>

  <div id="channels" class="min-w-full">
    <div class="flex-1 p:2 sm:p-6 justify-between flex flex-col h-96">
      <div class="flex space-x-3 py-2 border-b-2 border-gray-200">
        <%= render @channels %>
      </div>
      <% if !current_channel %>
        <div class="flex justify-center">
          <div class="text-center">
            <h2 class="text-xl font-bold">Select a channel</h2>
            <p class="text-gray-600">
              You can select a channel to see the messages.
            </p>
          </div>
        </div>
      <% else %>
        <div id="messages" class="flex flex-col space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
          <%= turbo_stream_from current_channel %>
          <%= render current_channel.messages.order(id: :asc)%>
        </div>
      <% end %>
    </div>
    <div class="border-t-2 border-gray-200 px-4 pt-4 mb-2 sm:mb-0">
      <%= render partial: "messages/form" if current_channel %>
    </div>
  </div>  
</div>